html { scroll-behavior: smooth; }
body{ 
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

    @include phone-desktop-only;
}
main {  min-height: calc( 100vh - 22em);
        margin: auto;
        width: 100%;
}
.wrapper {
    max-width: 1240px;
    margin: auto;
    padding: 0 10px;
}

ul{ list-style-type:none;
    padding: 0px;
    margin: 14px 0;
}
h1, h2, h3, h4, h5 { margin: 0px;}

a{  
    color: $color-primary;
}