.collapse__container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 50px;
}

@media (max-width: $breakpoints-phone-desktop) {
    .collapse__container{
       gap: 16px;
       padding: 16px 0;
    }
}