@mixin phone-desktop-only {
    @media (max-width: $breakpoints-phone-desktop) {
        .wrapper {
            max-width: 764px;
            margin: 0 10px;
            padding: 0px;
        }
        .collapse__container{
            padding: 0;
        }
    }
}
