$color-primary:#FF6060;
$background-primary:#E5E5E5;
$background-secondary:#F7F7F7;
$background-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$color-white: #FFFFFF;
$color-black: #000000;

$breakpoints-phone-desktop: 768px;