header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 0px;
    & .header__logo {
        margin: 22px 0;
    }

    .header__nav {
        &__list {
            display: flex;
            & li {
                
                margin-left: 35px;
                font-size: 24px;
                &:hover{
                    text-decoration: underline;
                }
                
            }
        }
    }
}
